<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <File name="File" fileName="database.log" append="true">
            <PatternLayout pattern="%d %p %C{1}: %m%n"/>
        </File>
        <File name="FileTx" fileName="database-tx.log" append="true">
            <PatternLayout pattern="%d %p %C{1}: %m%n"/>
        </File>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="File"/>
        </Root>
        <Logger name="org.apache.log4j.xml" level="info">
            <AppenderRef ref="File"/>
        </Logger>
        <Logger name="org.springframework.transaction" level="debug">
            <AppenderRef ref="FileTx"/>
        </Logger>
    </Loggers>
</Configuration>
