version: '2'

services:
  rabbitmq-dev:
    build: ./rabbitmq
    image: "rabbitmq-dev-server"
    network_mode: "host"
#    ports:
#      - "5672:5672"
  activemq-dev:
    build: ./activemq
    image: "activemq-dev-server"
    network_mode: "host"

  clamav-dev:
    build: ./clamav
    image: "clamav-dev-server"
    network_mode: "host"
#    ports:
#      - "3310:3310"

  kibana-dev:
    build: ./kibana
    image: "kibana-dev-server"
    network_mode: "host"

  elasticsearch-dev:
    build: ./elasticsearch
    image: "elasticsearch-dev-server"
    network_mode: "host"

  logstash-dev:
    build: ./logstash
    image: "logstash-dev-server"
    network_mode: "host"

  postgresql-dev:
    build: ./postgresql
    image: "postgresql-dev-server"
    network_mode: "host"

  solr-dev:
    build: ./solr
    image: "solr-dev-server"
    network_mode: "host"

  sonarqube-dev:
    build: ./sonarqube
    image: "sonarqube-dev-server"
    network_mode: "host"
